<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- BOOTSTRAP CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <!-- ICON PACK -->
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <title>listings | firecnc</title>
</head>

<!-- NAVIGATION BAR-->
{{> nav}}
<!-- NAVIGATION BAR-->

<!-- Content -->
<div class="container">
  {{#if data}}
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h5 class="display-2">Listings Available</h5>
  </div>
  {{#each data}}
  <div class="row mb-2">
    <div class="row no-gutters border mb-4 shadow-sm"
      style="margin: auto; background-color: rgb(240, 240, 240); width: 80%;">
      <div class="col-auto d-none d-lg-block">
        <img src="/roomImages/{{roomphoto.[0]}}" width="250" height="270" />
      </div>
      <div class="col p-4 d-flex flex-column position-static">
        <h5>{{roomtitle}}</h5>
        <h7>{{location}}</h7>
        <div class="mb-2 text-muted">${{price}} / night</div>
        <p class="card-text mb-5">
          {{description}}
        </p>
        <a href="/book"><button type="button" class="btn btn-danger">
            Book Now!
          </button></a>
      </div>
    </div>
  </div>
  {{/each}}
  {{/if}}
</div>

<!-- Content -->
<script>
  window.onload = function () {
    const card = document.getElementsByClassName("card");
    for (let i = 0; i < card.length; i++) {
      card[i].addEventListener("click", function (e) {
        const selectedCard = card[i].parentElement.children[i];

        fetch('/roomDescription/' + selectedCard.id, { method: 'POST' })
          .then(function (response) {
            console.log(response);
          });
      });
    }
  }
</script>

<!-- FOOTER-->
{{> footer}}
<!-- FOOTER-->

</html>